<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/2ba5ba10-6a5a-4ed3-acca-605481da5a45/resourceGroups/AutoDealerProApi20260516175745ResourceGroup/providers/Microsoft.ApiManagement/service/AutoDealerProApiapi/apis/AutoDealerProApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/2ba5ba10-6a5a-4ed3-acca-605481da5a45/resourcegroups/AutoDealerProApi20260516175745ResourceGroup/providers/Microsoft.Web/sites/AutoDealerProApi20260516180321</ResourceId>
    <ResourceGroup>AutoDealerProApi20260516175745ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://autodealerproapi20260516180321-avd2byg7brc7e5bs.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>95cd9deb-ff21-48cd-b592-70821649a324</ProjectGuid>
    <PublishUrl>https://autodealerproapi20260516180321-avd2byg7brc7e5bs.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>